@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --rojo: #d50000;
  --crema: #f5f2ee;
  --rojooscuro: #5C2626;
  --rosado: #ea7362;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans";
  --font-family-serif: "Playfair Display";
}


body{
  margin: 0;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: var(--rojooscuro);
}

h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display";
  color: var(--rojo);
}



.color-fondo{
  background-color: var(--crema);
}

/* ========== LINKS ========== */
a{
  color: var(--rosado);
}
a:hover {
  color: var(--rojooscuro);
  text-decoration: none;
}

/* ========== HEADER + NAVBAR ========== */

#header .nombre a {
color: var(--rosado);
}

#header .nombre a:hover {
color: var(--rojo);
}


header:hover {
  font-family: "Open Sans";
  
}

/* ========== ÃTEMS PORTAFOLIO ========== */

h3{
  color: var(--crema);
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #5C2626;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: .3s all ease;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.item .item-wrap img {
  transition: .3s transform ease;
  transform: scale(1);
}

.item .item-wrap:hover img {
  transform: scale(1.03);
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}


